<h1>予約一覧</h1>
<table class="list">
  <% @reservations.each do |reservation| %>
    <tr>
      <td>チェックイン</td>
      <td>チェックアウト</td>
    </tr>
    <tr>
      <td><%= link_to reservation.start_date, [:admin, reservation] %></td>
      <td><%= link_to reservation.end_date, [:admin, reservation] %></td>
    </tr>
  <% end %>
</table>