<h1>予約一覧</h1>
<table class="list">
  <% @reservations.each do |reservation| %>
    <tr>
      <td>宿泊開始日</td>
      <td>宿泊終了日</td>
    </tr>
    <tr>
      <td><%= link_to reservation.start_date, reservation %></td>
      <td><%= link_to reservation.end_date, reservation %></td>
    </tr>
  <% end %>
</table>