<h1>予約一覧</h1>
<table class="list">
  <% @reservations.each do |reservation| %>
    <tr>
      <th>チェックイン</th>
      <th>チェックアウト</th>
    </tr>
    <tr>
      <td><%= link_to reservation.start_date, reservation %></td>
      <td><%= link_to reservation.end_date, reservation %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @reservations %>