<h1>予約詳細</h1>
<table class="list">
  <tr>
    <td>部屋番号</td>
    <td>宿泊人数</td>
    <td>合計金額</td>
  </tr>
  <tr>
    <td><%= @reservation.room_id %></td>
    <td><%= @reservation.guest_count %></td>
    <td><%= @reservation.sum_price %></td>
  </tr>
</table>