<h1>部屋一覧</h1>

<%= render "search" %>

<table class="list">
  <tr>
    <th>部屋番号</th>
  </tr>
  <% Array(@rooms).each do |room| %>
    <tr>
      <td><%= link_to room.room_number, room %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @reservations %>